<%= render partial: 'header' %>
<div class="new-page">
	<div class="slogan bites">
		bites
	</div>
</div>
<div class="container">
	<%= form_tag('/products/checked', remote: true, method: :get, id: 'product-form') do %>
	  	<ul id='menu-pick'>
	  		<% @categories.each do |category| %>
		  		<li>
			  		<%= check_box_tag 'ids[]', category.id, category.check_box, class: 'box-check' %>
					<%= label_tag category.name %>
				</li>
			<%end%>
	  	</ul>
	<%end%>

	<div class="row product-check">
		<%= render partial: 'product' %>
	</div>
</div>
