<!DOCTYPE html>
<html>
<head>
  <title>Flonuts</title>
  <%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">
  <header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <%= link_to root_path do %>
                  <img src="http://i.imgur.com/xL14760.png" class="img-responsive logo-image-top" alt="Responsive image">
                <%end%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Products", products_path %></li>
                    <li><%= link_to "News", product_path %></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
  </header>
      <%= yield %>
  <footer>
    <div class="social-footer">
      <img src="http://i.imgur.com/xL14760.png" class="img-responsive logo-image" alt="Responsive image">
      <div class="row text-center">
        <div class="col-xs-4 text-center"></div>
        <div class="col-xs-4 text-center">
          <div class="col-xs-4 text-center">
            <img src="http://i.imgur.com/rLsgIFf.png" class="img-responsive social-image" alt="Responsive image">
          </div>
          <div class="col-xs-4 text-center">
            <img src="http://i.imgur.com/rLsgIFf.png" class="img-responsive social-image" alt="Responsive image">
          </div>
          <div class="col-xs-4 text-center">
            <img src="http://i.imgur.com/rLsgIFf.png" class="img-responsive social-image" alt="Responsive image">
          </div>
        </div>
        <div class="col-xs-4 text-center"></div>
      </div>
      <div class="address">675 Bering Drive, Houston, TX 77057</div>
    </div>
    <div class="bottom-footer">
      <div class="text-left">Copyright 2015 Flonuts</div>
      <div class="company-logo">
        <img src="http://i.imgur.com/AAiNVd3.png" class="img-responsive bottom-pix company-image" alt="Responsive image">
      </div>
    </div>
  </footer>
</body>
</html>
